extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Dao Sirius", [
                {
                    href: "/#section-1",
                    name: "What"
                },
                {
                    href: "/#section-2",
                    name: "Features"
                },
                {
                    href: "/#section-3",
                    name: "Actions"
                },
                {
                    href: "https://www.xdao.app/56/dao/0x22f4aa5368bfbb500493855a304f2dce33658078",
                    name: "Launch App"
                },
                {
                    href: "/section-5",
                    name: "Stack"
                },


            ])

        block main


        block footer

            include ../../components/footers/3/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
