section(class="canvas front" id="front")

    div(class="content")

        h2 DAO Sirius

        div

            p Do you know your earning potential?.

            div

                <button data-tf-popup="Qot1ASAL" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#c9173a;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Join us</button><script src="//embed.typeform.com/next/embed.js"></script>


                a(href="https://www.xdao.app/56/dao/0x22f4aa5368bfbb500493855a304f2dce33658078"; style="border-radius:25px";) Launch App





    +nav-1({ target: "section-1", direction: "next" })
