section(class="canvas section-5" id="section-5")

    h2 Stack

    div(class="content")

        div
            figure
                img(src="images/home/section-5/_inline/metamask-p-377.png" inline)

            article

                h3 MetaMask
                p.
                    Available as a browser extension and as a mobile app, #[a(href="https://metamask.io/") MetaMask] equips you with a key vault, secure login, token wallet, and token exchange—everything you need to manage your digital assets.

        div
            figure
                img(src="images/home/section-5/_inline/xdao-p-82.svg" inline)

            article

                h3 xDAO
                p.
                    XDAO is the fastest framework to create and manage decentralized autonomous organizations, #[a(href="https://www.xdao.app/") xDAO] is for trust management, venture investments, hedge funds, gaming guilds & NFT funds, project money management and charity.

        div
            figure
                img(src="images/home/section-5/_inline/binance-p-2000.png" inline)

            article

                h3 Binance Smart Chain
                p.
                    Binance Exchange is the largest crypto exchange by trade volume and one of the fastest in the world. #[a(https://www.binance.com/en/register?ref=ILJ2YE6M") BNB] is the native asset on Binance Chain, a blockchain software system developed by Binance and the community. BNB has multiple forms of utility and powers the Binance Ecosystem as its underlying gas.


        div
            figure
                img(src="images/home/section-5/_inline/tether-p-72.png" inline)

            article

                h3 Tether
                p.
                    #[a(href="https://tether.to/why-use-tether/") Tether] with USDT token converts cash into digital currency, to anchor or tether the value to the price of national currencies like the US dollar, the Euro, and the offshore Chinese yuan.


    +nav-1({ target: "front", direction: "prev" })
