section(class="canvas section-3" id="section-3")

    h2 Section 3

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Start building your portfolio now
                p.
                    Start automating your money by selecting the right applications and systems to work for you.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Why Metaverse can be the edge to create a new economy
                p.
                    See the new innovations coming by technologists and CEO's, empowered by Web3.0.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 How you can join the Metaverse Star Atlas with DAO Sirius
                p.
                    Our team partners are taking active participation in Star Atlas with new roles and creating
                    interaction between investors and gamers.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 How keep your security best practices
                p.
                    Key activities to prevent crypto losses from exit scams and rug pulls.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Dolore
                p.
                    In culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
                    harum quidem rerum facilis est et expedita distinctio.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Eligendi
                p.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.

    +nav-1({ target: "front", direction: "prev" })
