section(class="canvas section-2" id="section-2")

    h2 Section 2

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Worldwide
                p.
                    More people across the world are increasing their interest to join a metaverse,
                    knowing the growth potential that this innovation has

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Domestic
                p.
                    Countries are having a massive adoption of decentralised finance,
                    their citizens and institutions want to take advantage of what entrepreneurs are creating today.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Partnership
                p.
                    4 hour-work week and 40% minimum annual passive income is achieved by our active partners,
                    they are obtaining quality information of investments, access to top projects and monthly withdrawals of 3% APR.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Fight Inflation
                p.
                    Don't let your savings and assets lose value over time, diversify, compound and minimise risk.
                    Put your crypto work for you and earn high profits.

    +nav-1({ target: "section-3", direction: "next" })
