section(class="canvas section-2" id="section-2")

    h2 Features

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Worldwide
                p.
                    The metaverse with DeFi trend offers immense potential to revolutionize our lifestyles and communication,
                    and we’ve seen its development accelerate post-pandemic.
                    But the metaverse is still conceptual and the race has just started.


        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Domestic
                p.
                    DeFi is important because it enables people around the world to access basic financial services.
                    Online apps can be used by communities around the world to participate in DeFi by Lending.
                    It allows users to deposit their money into our DAO and generate interest.
                    The interest can be paid back to the user or pay for other services.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Partnership
                p.
                    4 hour-work week and 40% minimum annual passive income is achieved by our active partners,
                    they are obtaining quality information of investments, access to top projects and monthly withdrawals of 3% APR.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Fight Inflation
                p.
                    Don't let your savings and assets lose value over time, diversify, compound and minimise risk.
                    Put your crypto to work for you and earn high profits.

    +nav-1({ target: "section-3", direction: "next" })
