section(class="canvas section-4" id="section-4")

    h2 Section 4

    div(class="content")

        div

            <div data-tf-widget="FZxGIKUf" style="width:100%;height:600px;"></div><script src="//embed.typeform.com/next/embed.js"></script>





      +nav-1({ target: "front", direction: "prev" })
